{% extends 'manager/base.html' %}

{% block header %}
{% endblock %}

{% block footer %}
{% load staticfiles %}
<script src="{% static 'AjaxFileUploaderV2.1/ajaxfileupload.js' %}"></script>
<!--link rel="stylesheet" src="{% static 'manager/css/default.css' %}"-->

<!-- Add fancyBox main JS and CSS files -->
<script src="{% static 'fancyBox/jquery.fancybox.js' %}?v=2.1.5"></script>
<link rel="stylesheet" href="{% static 'fancyBox/jquery.fancybox.css' %}?v=2.1.5" media="screen">

<style>
.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  filter: alpha(opacit
  y=0);
  transform: translate(-300px, 0) scale(4);
  font-size: 23px;
  direction: ltr;
  cursor: pointer;
}
</style>

<script>
{% if asset %}
var res_type_id = {{ asset.res_type }};
var page_type_id = {{ asset.page_type }};
var layout_type_id = {{ asset.layout_type }};
var asset_id = {{ asset.id }};
{%else%}
var res_type_id = "0";
var page_type_id = "0";
var layout_type_id = "0";
var asset_id = 0;
{% endif %}
	
	$(document).ready(function(){
		$('.fancybox').fancybox({
			padding: 3,

			openEffect : 'elastic',
			openSpeed  : 150,

			closeEffect : 'elastic',
			closeSpeed  : 150,

			closeClick : true
		});
	});
	
	function check_img(obj){
		var filename = obj.value;
		//检查文件类型
		var exName = filename.substr(filename.lastIndexOf(".")+1).toUpperCase()    
		if(exName=="JPG"||exName=="JPEG"||exName=="PNG"||exName=="BMP"||exName=="GIF"||exName=="SWF"){
			//ajax 上传图片
			if (obj.id == "asset_file"){
				upload_image();
			} else if (obj.id == "mask_file"){
				upload_mask();
			}
		} else {
			alert("只能上传图片文件(*.jpg|*.jpeg|*.png|*.bmp|*.gif|*.swf)");
		}
	}
	
	function upload_image(){
		$("#loading").show();
		$.ajaxFileUpload({
			url:"/manager/ajax_upload_img/",
			secureuri:false,
			fileElementId:"asset_file",
			dataType: 'text',
			success: function (data, status){
				var json_data = JSON.parse(data); 
				if (json_data.code == 1){
					$("#a_ajax_img").attr("href", "/media/" + json_data.data.path);
					$("#a_ajax_img").show();
					$("#hid_res_path").val(json_data.data.path);
					if ($("#title").val().length == 0){
						$("#title").val(json_data.data.filename);
					}
					update_status();
				} else {
					alert(json_data.data);
				}
				$("#loading").hide();
			},
			error: function (data, status, e)
			{
				alert(e);
				$("#loading").hide();
			}
		});
	}
	function upload_mask(){
		$("#loading_mask").show();
		$.ajaxFileUpload({
			url:"/manager/ajax_upload_img/",
			secureuri:false,
			fileElementId:"mask_file",
			dataType: 'text',
			success: function (data, status){
				var json_data = JSON.parse(data); 
				if (json_data.code == 1){
					$("#a_ajax_mask").attr("href", "/media/" + json_data.data.path);
					$("#a_ajax_mask").show();
					$("#hid_mask_path").val(json_data.data.path);
					update_status();
				} else {
					alert(json_data.data);
				}
				$("#loading_mask").hide();
			},
			error: function (data, status, e)
			{
				alert(e);
				$("#loading_mask").hide();
			}
		});
	}
	
	function check_audio(obj){
		var filename = obj.value;
		//检查文件类型
		var exName = filename.substr(filename.lastIndexOf(".")+1).toUpperCase()    
		if(exName=="MP2"||exName=="MP3"||exName=="MP4"||exName=="AC3"||exName=="AU"){
			//ajax 上传图片
			$("#loading").show();
			$.ajaxFileUpload({
				url:"/manager/ajax_upload_audio/",
				secureuri:false,
				fileElementId:obj.id,
				dataType: 'text',
				success: function (data, status){
					var json_data = JSON.parse(data); 
					if (json_data.code == 1){
						$("#a_ajax_img").attr("href", "/media/" + json_data.data.path);
						$("#a_ajax_img").show();
						$("#hid_res_path").val(json_data.data.path);
						if ($("#title").val().length == 0){
							$("#title").val(json_data.data.filename);
						}
						update_status();
					} else {
						alert(json_data.data);
					}
					$("#loading").hide();
				},
				error: function (data, status, e)
				{
					alert(e);
					$("#loading").hide();
				}
			});
		} else {
			alert("只能上传声音片文件(*.mp2|*.mp3|*.mp4|*.ac3|*.au)");
		}
	}
	
	function check_video(obj){
		var filename = obj.value;
		//检查文件类型
		var exName = filename.substr(filename.lastIndexOf(".")+1).toUpperCase()    
		if(exName=="MP2"||exName=="MP4"||exName=="MPEG"||exName=="MPG"||exName=="3GPP"||exName=="FLV"||exName=="MOV"||exName=="MKV"){
			//ajax 上传图片
			$("#loading").show();
			$.ajaxFileUpload({
				url:"/manager/ajax_upload_video/",
				secureuri:false,
				fileElementId:obj.id,
				dataType: 'text',
				success: function (data, status){
					var json_data = JSON.parse(data); 
					if (json_data.code == 1){
						$("#a_ajax_img").attr("href", "/media/" + json_data.data.path);
						$("#a_ajax_img").show();
						$("#hid_res_path").val(json_data.data.path);
						if ($("#title").val().length == 0){
							$("#title").val(json_data.data.filename);
						}
						update_status();
					} else {
						alert(json_data.data);
					}
					$("#loading").hide();
				},
				error: function (data, status, e)
				{
					alert(e);
					$("#loading").hide();
				}
			});
		} else {
			alert("只能上传视频文件");
		}
	}
	
	function update_status(){
		if ($("#hid_res_path").val().length > 0 && $("#title").val().length > 0 && res_type_id !== "0"){
			if (res_type_id == "3"){
				if ($("#sel_style").val() !== "0" && $("#hid_mask_path").val() !== "0"){
					$("#btn_submit").removeClass("disabled");
				}
			} else if (res_type_id == "5" || res_type_id == "6"){
				$("#btn_submit").removeClass("disabled");
			} else{
				if ($("#sel_style").val() !== "0"){
					$("#btn_submit").removeClass("disabled");
				}
			}
			
		}
	}
	
	function update_res_type(type_id){
		res_type_id = type_id;
		switch(res_type_id){
			case "3":
				$("#div_style").show(200);
				$("#div_mask").show(200);
				$("#asset_file").parent().removeClass("btn-success").removeClass("btn-danger").addClass("btn-primary");
				$("#asset_file").parent().find("span").html("上传素材图片...");
				$("#asset_file").attr("accept", "image/*");
				$("#asset_file").attr("onchange", "check_img(this)");
				
				$("#mask_title").html("遮罩图片");
				$("#mask_file").parent().removeClass("btn-success").removeClass("btn-danger").addClass("btn-primary");
				$("#mask_file").parent().find("span").html("上传遮罩图片...");
				break;
			case "5":
				$("#div_style").hide(200);
				$("#div_mask").hide(200);
				$("#asset_file").parent().removeClass("btn-primary").removeClass("btn-danger").addClass("btn-success");
				$("#asset_file").parent().find("span").html("上传音频文件...");
				$("#asset_file").attr("accept", "audio/*");
				$("#asset_file").attr("onchange", "check_audio(this)");
				break;
			case "6":
				$("#div_style").hide(200);
				$("#div_mask").hide(200);
				$("#asset_file").parent().removeClass("btn-primary").removeClass("btn-success").addClass("btn-danger");
				$("#asset_file").parent().find("span").html("上传视频频文件...");
				$("#asset_file").attr("accept", "");
				$("#asset_file").attr("onchange", "check_video(this)");
				break;
			case "8":
				$("#div_style").show(200);
				$("#div_mask").show(200);
				$("#asset_file").parent().removeClass("btn-success").removeClass("btn-danger").addClass("btn-primary");
				$("#asset_file").parent().find("span").html("上传素材文件...");
				$("#asset_file").attr("accept", "");
				$("#asset_file").attr("onchange", "check_img(this)");
				
				$("#mask_title").html("特效图片");
				$("#mask_file").parent().removeClass("btn-success").removeClass("btn-danger").addClass("btn-primary");
				$("#mask_file").parent().find("span").html("上传特效图片...");
				break;
			default:
				$("#div_style").show(200);
				$("#div_mask").hide(200);
				$("#asset_file").parent().removeClass("btn-success").removeClass("btn-danger").addClass("btn-primary");
				$("#asset_file").parent().find("span").html("上传素材图片...");
				$("#asset_file").attr("accept", "image/*");
				$("#asset_file").attr("onchange", "check_img(this)");
				break;
		}
		update_status();
	}
	
	function update_page_type(type_id){
		page_type_id = type_id;
	}
	
	function update_layout_type(type_id){
		layout_type_id = type_id;
	}
	
	var clock_timer = 0;
	var iID = null;
	function on_submit(){
		$("#btn_submit").addClass("disabled");
		$.post("/manager/asset/", {"asset_id":asset_id, "rdo_type":res_type_id, "page_type_id":page_type_id, "layout_type_id":layout_type_id, "sel_style": $("#sel_style").val(), "title":$("#title").val(), "hid_res_path":$("#hid_res_path").val(), "hid_mask_path":$("#hid_mask_path").val()}, function(data){
			var json_data = JSON.parse(data);
			if (json_data.code == 1){
				$("#div_msg").show();
				$("#a_ajax_img").attr("href", "");
				$("#a_ajax_img").hide();
				$("#a_ajax_mask").attr("href", "");
				$("#a_ajax_mask").hide();
				$("#title").val("");
				$("#hid_res_path").val("");
				//$("#div_msg").delay(5000).hide(500);
				clock_timer = 3
				iID = setInterval(update_timer, 1000);
			} else {
				alert(json_data.data);					
			}
		});
	}
	
	function update_timer(){
		clock_timer -= 1;
		$("#span_timer").html(clock_timer);
		if (clock_timer <= 0){
			clearInterval(iID);
			iID = null;
			$("#div_msg").hide();
		}
	}
</script>
{% endblock %}

{% block content %}

{% if result == "ok" %}
<div style="text-align: center">
	<span class="inline"><img src="{% static 'images/success.gif' %}"><h3>信息提交成功</h3></span>
		<hr />
		<a href="/manager/asset_list/" class="btn btn-large btn-success offset2">查看</a>
		<a href="/manager/asset/" class="btn btn-large btn-primary offset1">再次录入>></a>
</div>
{% else %}
<div class="row" style="margin-left: 1px; margin-bottom: 15px">
	<div class="input-group col-md-2 pull-left">
		<a class="btn btn-danger" href="/manager/asset_list/">返回公共素材列表</a>
	</div>
</div>
	<form class="form-horizontal well" role="form" method="post" enctype="multipart/form-data">
		<input type="hidden" value="{% if asset %}{{ asset.res_path }}{% endif %}" id="hid_res_path" name="hid_res_path" />
		<input type="hidden" value="{% if asset %}{{ asset.mask_path }}{% endif %}" id="hid_mask_path" name="hid_mask_path" />
		
		<div class="form-group">
			<label class="col-md-2 control-label">素材类型</label>
			<div class="col-md-8">
				<!--(1,u"背景"),(2,u"装饰"),(3,u"画框"),(4,u"模板"),(5,u"声音"),(6,u"视频"),(7,u"图片")-->
				<div class="radio-inline">
					<label for="rdo1">
						<input type="radio" name="rdo_type" id="rdo1" value="1" onclick="update_res_type(this.value)" {% if asset and asset.res_type == 1 %}checked{% endif %}>
						背景</label>
				</div>
				<div class="radio-inline">
					<label for="rdo2">
						<input type="radio" name="rdo_type" id="rdo2" value="2" onclick="update_res_type(this.value)" {% if asset and asset.res_type == 2 %}checked{% endif %}>
						装饰</label>
				</div>
				<div class="radio-inline" style="clear:both">
					<label for="rdo3">
						<input type="radio" name="rdo_type" id="rdo3" value="3" onclick="update_res_type(this.value)" {% if asset and asset.res_type == 3 %}checked{% endif %}>
						画框</label>
				</div>
				<div class="radio-inline">
					<label for="rdo5">
						<input type="radio" name="rdo_type" id="rdo5" value="5" onclick="update_res_type(this.value)" {% if asset and asset.res_type == 5 %}checked{% endif %}>
						声音</label>
				</div>
				<div class="radio-inline">
					<label for="rdo6">
						<input type="radio" name="rdo_type" id="rdo6" value="6" onclick="update_res_type(this.value)" {% if asset and asset.res_type == 6 %}checked{% endif %}>
						视频</label>
				</div>
				<div class="radio-inline">
					<label for="rdo7">
						<input type="radio" name="rdo_type" id="rdo7" value="7" onclick="update_res_type(this.value)" {% if asset and asset.res_type == 7 %}checked{% endif %}>
						图片</label>
				</div>
				<div class="radio-inline">
					<label for="rdo8">
						<input type="radio" name="rdo_type" id="rdo8" value="8" onclick="update_res_type(this.value)" {% if asset and asset.res_type == 8 %}checked{% endif %}>
						特效</label>
				</div>
			</div>
		</div>
		<div class="form-group" id="div_style">
			<label class="col-md-2 control-label">素材风格</label>
			<div class="col-md-3">
				<select id="sel_style" name="sel_style" class="form-control" onclick="update_status()">
					<option value="0"></option>
					<option value="1" {% if asset and asset.res_style == 1 %}selected{% endif %}>复古</option>
					<option value="2" {% if asset and asset.res_style == 2 %}selected{% endif %}>简约</option>
					<option value="4" {% if asset and asset.res_style == 4 %}selected{% endif %}>可爱</option>
					<option value="5" {% if asset and asset.res_style == 5 %}selected{% endif %}>手绘</option>
					<option value="6" {% if asset and asset.res_style == 6 %}selected{% endif %}>中国风</option>
					<option value="9" {% if asset and asset.res_style == 9 %}selected{% endif %}>卡通</option>
					<option value="12" {% if asset and asset.res_style == 12 %}selected{% endif %}>节日</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">文件</label>
			<div class="col-md-10">
				<span class="btn btn-primary fileinput-button">
	                <i class="icon-plus icon-white"></i>
	                <span>上传素材图片...</span>
	                <input class="input-file" type="file" id="asset_file" name="asset_file" accept="image/*" onchange="check_img(this)">
	            </span>
	            <img id="loading" src="{% static 'images/loading.gif' %}" style="display:none;">
	            <div class="btn-group">
					<a class="fancybox btn btn-success" id="a_ajax_img" style="{% if not asset %}display: none{% endif %}" href="{% if asset %}{{MEDIA_URL}}{{ asset.res_path}}{% endif %}" target="_blank" ><span class="glyphicon glyphicon-picture"></span> 点击查看</a>
				</div>
			</div>
		</div>
		<div class="form-group" id="div_mask" style="display: {% if asset and asset.res_type == 3 or asset and asset.res_type == 8 %}block{% else %}none{% endif %}">
			<label class="col-md-2 control-label" id="mask_title">{% if not asset %}遮罩{% else %}{% if asset.res_type == 3 %}遮罩{% else %}特效{% endif %}{% endif %}图片</label>
			<div class="col-md-10">
				<span class="btn btn-primary fileinput-button">
	                <i class="icon-plus icon-white"></i>
	                <span>上传{% if not asset %}遮罩{% else %}{% if asset.res_type == 3 %}遮罩{% else %}特效{% endif %}{% endif %}图片...</span>
	                <input class="input-file" type="file" id="mask_file" name="mask_file" accept="image/*" onchange="check_img(this)">
	            </span>
	            <img id="loading_mask" src="{% static 'images/loading.gif' %}" style="display:none;">
	            <div class="btn-group">
					<a class="fancybox btn btn-success" id="a_ajax_mask" style="{% if not asset %}display: none{% endif %}" 
					{% if asset %}
					href="{% if asset.res_type == 3 %}{{MEDIA_URL}}{{ asset.mask_path }}{% else %}{{MEDIA_URL}}{{ asset.img_large_path }}{% endif %}"
					{% endif %} target="_blank" ><span class="glyphicon glyphicon-picture"></span> 点击查看</a>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">标题</label>
			<div class="col-md-8">
				<input type="text" class="form-control" id="title" name="title" value="{% if asset %}{{ asset.res_title }}{% endif %}" onblur="update_status()" placeholder="请输入标题" style="width:360px">
			</div>
		</div>
		<div class="form-group" id="form_page_type">
			<label class="col-md-2 control-label">单双页：</label>
			<div class="col-md-8 form-inline">
				<div class="radio-inline">
					<label>
						<input type="radio" name="rdo_page" id="rdo21" value="1" onclick="update_page_type(this.value)" {% if asset and asset.page_type == 1 %}checked{% endif %}>
						单页</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="rdo_page" id="rdo22" value="2" onclick="update_page_type(this.value)" {% if asset and asset.page_type == 2 %}checked{% endif %}>
						双页</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="rdo_page" id="rdo23" value="0" onclick="update_page_type(this.value)" {% if asset%}{% if asset and asset.page_type == 0 %}checked{% endif %}{%else%}checked="checked"{%endif%}>
						不限</label>
				</div>
			</div>
		</div>
		<div class="form-group" id="form_page_type">
			<label class="col-md-2 control-label">版式：</label>
			<div class="col-md-8 form-inline">
				<div class="radio-inline">
					<label>
						<input type="radio" name="rdo_layout" id="rdo231" value="1" onclick="update_layout_type(this.value)" {% if asset and asset.layout_type == 1 %}checked{% endif %}>
						横版</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="rdo_layout" id="rdo32" value="2" onclick="update_layout_type(this.value)" {% if asset and asset.layout_type == 2 %}checked{% endif %}>
						竖版</label>
				</div>
				<div class="radio-inline">
					<label>
						<input type="radio" name="rdo_layout" id="rdo33" value="0" onclick="update_layout_type(this.value)" {% if asset%}{% if asset and asset.layout_type == 0 %}checked{% endif %}{%else%}checked="checked"{%endif%}>
						不限</label>
				</div>
			</div>
		</div>
		
		<div class="alert alert-success col-md-offset-2" id="div_msg" style="display: none">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	        <strong>恭喜!</strong>  上传成功!&nbsp;&nbsp;<span id="span_timer">3</span>秒后自动隐藏
	      </div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-6">
				<div class="btn-group">
				    <button type="button" class="btn btn-primary{% if not asset %} disabled{% endif %}" id="btn_submit" onclick="on_submit()">
				    <span class="glyphicon glyphicon-save"></span> 保存素材信息</button>
				</div>
			</div>
		</div>
	</form>
{% endif %}
{% endblock %}