{% extends 'manager/base.html' %}


{% block header %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bootstrap-select/bootstrap-select.css' %}">
<script src="{% static 'bootstrap-select/bootstrap-select.js' %}"></script>
{% endblock %}

{% block footer %}
<!-- Add fancyBox main JS and CSS files -->
<script src="{% static 'fancyBox/jquery.fancybox.js' %}?v=2.1.5"></script>
<link rel="stylesheet" href="{% static 'fancyBox/jquery.fancybox.css' %}?v=2.1.5" media="screen">

<script>
	$(document).ready(function(){
		$('.fancybox').fancybox({
			padding: 3,

			openEffect : 'elastic',
			openSpeed  : 150,

			closeEffect : 'elastic',
			closeSpeed  : 150,

			closeClick : true
		});
		
		{% if request.user.is_staff %}
			update_select();
		{% else %}
			$("#sel_library").append("<option value='{{request.user.library_id}}'>{{request.user.library_id}}</option>");
			$("#div_select").hide();
			$('.selectpicker').selectpicker();
			on_page(1);
		{% endif %}
	});
	
	function update_pagination(page_index, page_count) {
		$(".pagination").html("");
		if (page_count == 1) {
			return;
		}
		
		var display_page_count = 15;
		var middle_page = parseInt(display_page_count/2);
		var start_page = 1;
		if (page_index > middle_page){
			start_page = page_index - middle_page;
		}
		var end_page = start_page + display_page_count - 1;
		if (end_page > page_count){
			end_page = page_count;
			start_page = page_count - display_page_count + 1;
			if (start_page <= 0){
				start_page = 1;
			}
		}
		
		var pagination_html = "";
		var last_page = "";
		var next_page = "";
		if (page_index == 1) {
			last_page = "<li class=\"disabled\"><a href=\"\">首页</a></li>";
		} else {
			last_page = "<li><a href=\"#\" onclick=\"on_page(1)\">首页</a></li>";
		}
		if (page_index == page_count) {
			next_page = "<li class=\"disabled\"><a href=\"\">尾页</a></li>";
		} else {
			next_page = "<li><a href=\"#\" onclick=\"on_page(" + page_count + ")\">尾页</a></li>";
		}
		for (var i = start_page; i<=end_page; i++) {
			if (i == page_index) {
				pagination_html += "<li class=\"active\"><a href=\"\">" + i + "</a></li>";
			} else {
				pagination_html += "<li><a href=\"#\" onclick=\"on_page(" + i + ")\">" + i + "</a></li>";
			}
		}
		$(".pagination").html(last_page + pagination_html + next_page);
	}
	
	function on_page(page_index){
		var library_id = $("#sel_library option:selected").val();
		var search_text = $("#search_text").val();
		var type_id = $("#sel_type option:selected").val();
		var style_id = $("#sel_style option:selected").val();
		$.post("/manager/asset_list/", {"page_index":page_index, "library_id":library_id, "search_text":search_text, "type_id":type_id, "style_id":style_id}, function(data){
			var json_data = JSON.parse(data);
			$("#table1 tbody tr").remove();
			var array_list = json_data.data;
			for (var i=0; i<array_list.length; i++){
				if (array_list[i]["type_id"] == 4){
					var newRow = "<tr id='tr"+ array_list[i]["id"] + "'><td><a href='/manager/template/?id=" + array_list[i]["id"]  + "'>" + array_list[i]["title"] + "</a><span class='badge'>" + array_list[i]["page_count"] + "</span></td><td>";
				} else {
					var newRow = "<tr id='tr"+ array_list[i]["id"] + "'><td><a href='/manager/asset/?id=" + array_list[i]["id"]  + "'>" + array_list[i]["title"] + "</a></td><td>";
				}
				newRow += array_list[i]["res_type_name"] + "</td><td>";
				newRow += array_list[i]["page_name"] + "</td><td>";
				newRow += array_list[i]["ref_times"] + "</td><td>";
				newRow += array_list[i]["style_name"] + "</td><td>";
				newRow += array_list[i]["create_time"] + "</td><td>";
				newRow += "<a class='fancybox' href='" + array_list[i]["url"] + "' target='_blank'>点击查看大图</a></td><td>";
				newRow += "<button class='btn btn-warning btn-xs' onclick='delete_asset(" + array_list[i]["id"] + ")'>点击删除</button></td></tr>";
				$("#table1 tbody").append(newRow);
			}
			update_pagination(json_data.page_index, json_data.page_count);
		});
	}
	
	{% if request.user.is_staff %}
	function update_select(){
		$.post("/manager/get_library_list/", function(data){
			var json_data = JSON.parse(data);
			if (json_data.code == 1){
				var lib_list = json_data.data;
				$("#sel_library").append("<option value='0'>公共图书馆</option>");
				for (var i=0; i<lib_list.length; i++){
					$("#sel_library").append("<option value='" + lib_list[i]["id"] + "'>" + lib_list[i]["name"] + "</option>");
				}
				$('.selectpicker').selectpicker();
				on_page(1);
			} else {
				alert(json_data.data);
			}
		});
	}
	{% endif %}
	
	function search(){
		on_page(1);
	}
	
	function delete_asset(asset_id){
		if (confirm("你真的确定要删除吗?") == true){
			$.post("/manager/delete_asset/", {"id":asset_id}, function(data){
				if (data == "ok"){
					$("#tr"+asset_id).hide();
				} else {
					alert(data);
				}
			});
		}
	}
</script>
{% endblock %}


{% block content %}
<div class="row" style="margin-left: 1px; margin-bottom: 15px">
	<div class="input-group col-md-2 pull-left">
		<a class="btn btn-danger" href="/manager/asset/">点击新增公共素材</a>
	</div>
	
	<div class="input-group col-md-3 pull-left" id="div_select">
	    <select class="selectpicker show-menu-arrow show-tick" data-live-search="true" id="sel_library">
		</select>
	</div>
	<div class="input-group col-md-1 pull-left">
	    <select class="selectpicker show-menu-arrow show-tick" id="sel_type">
	    	<!--(1,u"背景"),(2,u"装饰"),(3,u"画框"),(4,u"模板"),(5,u"声音"),(6,u"视频"),(7,u"图片")-->
	    	<option value="0">所有类型</option>
	    	<option value="1">背景</option>
	    	<option value="2">装饰</option>
	    	<option value="3">画框</option>
	    	<option value="5">声音</option>
	    	<option value="6">视频</option>
	    	<option value="7">图片</option>
	    	<option value="8">特效</option>
		</select>
	</div>
	<div class="input-group col-md-1 pull-left">
	    <select class="selectpicker show-menu-arrow show-tick" id="sel_style">
	    	<option value="0">所有风格</option>
	    	<option value="1">复古</option>
	    	<option value="2">简约</option>
	    	<option value="4">可爱</option>
	    	<option value="5">手绘</option>
	    	<option value="6">中国风</option>
	    	<option value="9">卡通</option>
	    	<option value="12">节日</option>
		</select>
	</div>
  <div class="input-group col-md-4 pull-left">
	  <input type="text" id="search_text" name="search_text" placeholder="请输入标题进行搜索" class="form-control">
	  <span class="input-group-btn">
	    <button class="btn btn-primary" id="btn_search" type="button" onclick="search()">
	    <span class="glyphicon glyphicon-search"></span> 点击搜索</button>
	  </span>
  </div>
</div>

<div class="table-responsive">
	<table class="table table-bordered table-hover table-condensed" id="table1">
		<thead>
            <tr>
              <th>标题</th>
              <th>类型</th>
              <th>页型</th>
              <th>引用次数</th>
              <th>风格</th>
              <th>创建时间</th>
              <th>图片路径</th>
              <th>删除</th>
            </tr>
          </thead>
          <tbody>
            <tr></tr>
          </tbody>
	</table>
</div>

<ul class="pagination">
</ul>
{% endblock %}