{% extends 'manager/base.html' %}


{% block header %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bootstrap-select/bootstrap-select.css' %}">
<script src="{% static 'bootstrap-select/bootstrap-select.js' %}"></script>
{% endblock %}

{% block footer %}
<!-- Add fancyBox main JS and CSS files -->
<script src="{% static 'fancyBox/jquery.fancybox.js' %}?v=2.1.5"></script>
<link rel="stylesheet" href="{% static 'fancyBox/jquery.fancybox.css' %}?v=2.1.5" media="screen">

<script>
	function init_unit(){
		$.post("/manager/get_unit_list/", function(data){
			var json_data = JSON.parse(data);
			if (json_data.code == 1){
				var lib_list = json_data.data;
				$("#sel_unit").append("<option value='0'>请选择报送单位</option>");
				for (var i=0; i<lib_list.length; i++){
					$("#sel_unit").append("<option value='" + lib_list[i]["id"] + "'>" + lib_list[i]["name"] + "</option>");
				}
				$('.selectpicker').selectpicker();
				$('.selectpicker').selectpicker('refresh');
			} else {
				alert(json_data.data);
			}
		});
	}
	
	$(document).ready(function(){
		$('.fancybox').fancybox({
			padding: 3,

			openEffect : 'elastic',
			openSpeed  : 150,

			closeEffect : 'elastic',
			closeSpeed  : 150,

			closeClick : true
		});
		
		init_unit();
		on_page(1);
	});
	
	function update_pagination(page_index, page_count) {
		$(".pagination").html("");
		if (page_count == 1) {
			return;
		}
		
		var display_page_count = 15;
		var middle_page = parseInt(display_page_count/2);
		var start_page = 1;
		if (page_index > middle_page){
			start_page = page_index - middle_page;
		}
		var end_page = start_page + display_page_count - 1;
		if (end_page > page_count){
			end_page = page_count;
			start_page = page_count - display_page_count + 1;
			if (start_page <= 0){
				start_page = 1;
			}
		}
		
		var pagination_html = "";
		var last_page = "";
		var next_page = "";
		if (page_index == 1) {
			last_page = "<li class=\"disabled\"><a href=\"\">首页</a></li>";
		} else {
			last_page = "<li><a href=\"#\" onclick=\"on_page(1)\">首页</a></li>";
		}
		if (page_index == page_count) {
			next_page = "<li class=\"disabled\"><a href=\"\">尾页</a></li>";
		} else {
			next_page = "<li><a href=\"#\" onclick=\"on_page(" + page_count + ")\">尾页</a></li>";
		}
		for (var i = start_page; i<=end_page; i++) {
			if (i == page_index) {
				pagination_html += "<li class=\"active\"><a href=\"\">" + i + "</a></li>";
			} else {
				pagination_html += "<li><a href=\"#\" onclick=\"on_page(" + i + ")\">" + i + "</a></li>";
			}
		}
		$(".pagination").html(last_page + pagination_html + next_page);
	}
	
	function on_page(page_index){
		var search_text = $("#search_text").val();
		var sel_unit = $("#sel_unit option:selected").val();
		$.post("/manager/story_list/", {"page_index":page_index, "search_text":search_text, "sel_unit":sel_unit}, function(data){
			var json_data = JSON.parse(data);
			$("#table1 tbody tr").remove();
			var array_list = json_data.data;
			for (var i=0; i<array_list.length; i++){
				var newRow = "<tr id='tr"+ array_list[i]["id"] + "'><td><a href='/manager/story_opus/?id=" + array_list[i]["id"]  + "'>" + array_list[i]["story_name"] + "</a></td><td>";
				newRow += array_list[i]["unit_name"] + "</td><td>";
				newRow += array_list[i]["actor_name"] + "</td><td>";
				//newRow += array_list[i]["school_name"] + "</td><td>";
				newRow += array_list[i]["telephone"] + "</td><td>";
				newRow += array_list[i]["username"] + "</td><td>";
				//newRow += array_list[i]["number"] + "</td><td>";
				newRow += array_list[i]["vote"] + "</td><td>";
				newRow += array_list[i]["codec_status"] + "</td><td>";
				//newRow += array_list[i]["create_time"] + "</td><td>";
				//newRow += "<a class='fancybox' href='" + array_list[i]["img_small_path"] + "' target='_blank'>点击查看</a></td><td>";
				newRow += "<button class='btn btn-warning btn-xs' onclick='delete_story(" + array_list[i]["id"] + ")'>点击删除</button></td></tr>";
				$("#table1 tbody").append(newRow);
			}
			update_pagination(json_data.page_index, json_data.page_count);
		});
	}
	
	
	function search(){
		on_page(1);
	}
	
	function delete_story(story_id){
		if (confirm("你真的确定要删除吗?") == true){
			$.post("/manager/delete_story/", {"id":story_id}, function(data){
				if (data == "ok"){
					$("#tr"+story_id).hide();
				} else {
					alert(data);
				}
			});
		}
	}
</script>
{% endblock %}


{% block content %}
<div class="row" style="margin-left: 1px; margin-bottom: 15px">
	<div class="input-group col-md-2 pull-left">
		<a class="btn btn-danger" href="/manager/story_opus/">新增选手作品</a>
	</div>
	<div class="input-group col-md-3 pull-left">
	    <select class="selectpicker" data-live-search="true" id="sel_unit" name="sel_unit" class="form-control">
		</select>
	</div>
  <div class="input-group col-md-5 pull-left">
	  <input type="text" id="search_text" name="search_text" placeholder="请输入故事标题进行搜索" class="form-control">
	  <span class="input-group-btn">
	    <button class="btn btn-primary" id="btn_search" type="button" onclick="search()">
	    <span class="glyphicon glyphicon-search"></span> 点击搜索</button>
	  </span>
  </div>
</div>

<div class="table-responsive">
	<table class="table table-bordered table-hover table-condensed" id="table1">
		<thead>
            <tr>
              <th>故事标题</th>
              <th>上报单位</th>
              <th>作者</th>
              <th>联系方式</th>
              <th>用户名</th>
              <th>投票数</th>
              <th>转码状态</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr></tr>
          </tbody>
	</table>
</div>

<ul class="pagination">
</ul>
{% endblock %}
