<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head><title>
	第1讲 动作分解（Do something）
</title>
    <script src="/media/swf/rightclick-2.0.js" language="javascript"></script>
	<script src="/media/swf/swfobject-2.0.js" language="javascript"></script>
	
	<style type="text/css">
	/* hide from ie5 mac \*/
	html {
	  height: 100%;
	  overflow: hidden;
	}
	#flashcontent {
	  height: 100%;
	}
	/* end hide */
	body {
	  height: 100%;
	  margin: 0;
	  padding: 0;
	  background-color: #eee;
	}
	</style>
</head>


<body onload="RightClick.init();">
    <div id="flashcontent">Place fallback content here for users who don't have Flash</div>
<script>
    swfobject.embedSWF("http://{{stream_host}}:8083{{ video_path }}/vod_player.swf", "flashcontent", "100%", "100%", "11", "/media/swf/expressInstall.swf", {}, { allowFullScreen: true });
</script>
</body>
</html>
